<% @users.each do |user| %>
<div class='column is-half'>
<%= link_to(user_user_profile_path(user.id)) do %>
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= user.last_name %></p>
        <p class="subtitle is-6"><%= user.email %></p>
      </div>
    </div>
    <div class="content">
      <% if user.bio.blank? %>
	My name is <%= user.last_name %>! Please view my profile :)
      <% else %>
	<%= user.bio.description %>
      <% end %>
    </div>
  </div>
</div>
</div>
<% end %>
<% end %>