<!DOCTYPE html>
<html>
  <head>
    <title>RorTweedur</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <header class="header">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="is-size-3 has-text-white has-text-weight-medium">Tweedur</h1>
        </div>
      </div>
      <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
  <% if user_signed_in? %>
  <li>
  <%= link_to root_path do %>
    <span class="icon is-small">
      <i class="fas fa-home" aria-hidden="true"></i>
    </span>
    <span class='has-text-white'>Home</span>
  <% end %>
</li>
<li>
  <%= link_to user_user_profile_path(current_user.id), method: :get do %>
    <span class="icon is-small">
      <i class="fas fa-user" aria-hidden="true"></i>
    </span>
    <span class='has-text-white'>Profile</span>
  <% end %>
</li>
<li>
  <div class="dropdown is-hoverable">
    <div class="dropdown-trigger">  
      <i class="fas fa-bell" style="color:#3273dc; margin-left:12px; margin-right:5px;" aria-hidden="true"></i>
      <span class='has-text-white' style='margin-right:12px;'>
      Follow requests<% if @follow_requests_length >= 1 %>: <%= @follow_requests_length %> 
      <% end %> 
      </span> 
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
        <% if @follow_requests_length >= 1 %>
        <% @follow_requests.each do |follow_request| %>
          <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <p>
              <%= follow_request.followed.email %> has requested to follow you
              </p>
            </div>
            <div class="level-item">
              <div class="field has-addons">
                <p class="control">
                <%= render partial: "partials/accept_notif", locals: {id: follow_request.id} %>
                </p>
                <div style = 'margin-left:5px'/>
                <p class="control">
                <%= render partial: "partials/decline_notif", locals: {id: follow_request.id} %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
        <% else %>
        <p>You have no follow requests at this time.</p>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</li>
<li>
  <%= link_to discover_pages_path, method: 'get' do %>
    <span class="icon is-small">
      <i class="fas fa-globe" aria-hidden="true"></i>
    </span>
    <span class='has-text-white'>Explore</span>
  <% end %>
</li>
<li>
  <%= link_to destroy_user_session_path, method: 'delete' do %>
    <span class="icon is-small">
      <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
    </span>
    <span class='has-text-white'>Sign out</span>
  <% end %>
 </li>
 <% end %>
</ul>
</nav>
    </nav>
  </div>
</header>
<section class="section">
  <div class="container">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <%= yield %>
  </div>
</section>
</html>

