<!DOCTYPE html>
<html>
  <head>
    <title>RorTweedur</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="header">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="is-size-3 has-text-white has-text-weight-medium">Tweedur: A Ruby on Rails app</h1>
        </div>
      </div>
      <div class="level-right">
        <p class="level-item">
          <% if user_signed_in? %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, :class => "button is-dark is-outlined" %>
          <% end %>
        </p>
      </div>
    </nav>
  </div>
</header>
<section class="section">
  <div class="container">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <%= yield %>
  </div>
</section>
</html>
